#back2{
    width:300px;
    position: absolute;
    /*left: 50%;*/
    /*background-image: url("/Gradle___org_sinhan___omokProject_1_0_SNAPSHOT_war__exploded_/img/modal_background.png");*/
}

#in{
    width:500px;
    margin: auto;
    /*background-color: red  ;*/
    background-image: url("/img/lose_text.png");
}

#back{
    background-image: url("/img/modal_background.png");
    background-size : contain;
    background-repeat: no-repeat;
    height:500px;
    width: 2500px;

}