@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: NeoDunggeunmo;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}
body {
    position: relative;
    overflow: hidden; /* 스크롤 막기 */
    /*백그라운드 이미지 조정*/
    background-image: url("../../../img/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.sign-up{
    width: 90vw;
    max-width: 1182px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up__title{
    display: flex;
    width: 100%;
    height: auto;
    padding: clamp(10px, 2vh, 20px) clamp(10px, 3vw, 40px);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: clamp(80px, 20vh, 124px);

    margin-bottom: clamp(10px, 5vh, 40px);
    margin-top: clamp(10px, 5vh, 40px);
}
.sign-up__form{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: clamp(10px, 2vw, 40px);
}
.sign-up__form-input{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
}
.sign-up__form-profile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}
.sign-up__footer{
    width: 100%;
    height: 30%;
}
form {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
label {
    width: 180px;
    text-align: right;
    font-size: clamp(16px, 3vw, 40px);
}
#submit_button {
    width: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(18px, 2.5vw, 36px);
    border: #9C5416 solid 5px;
    border-radius: 10px;
    background-color: #E5A552;
    padding: clamp(10px, 2vh, 16px) clamp(20px, 3vw, 36px);
    /*margin-top: auto;*/
    margin-bottom: clamp(32px, 3vw, 52px);
    cursor: pointer;
    box-sizing: border-box;
}