#password_group {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1vh, 16px);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: clamp(10px, 3vh, 30px);
}

#pwd_input{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: clamp(10px, 2vh, 20px);
}

#re_pwd_input{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="password"]:focus {
    outline: none;
    /*박스 안 밀리게 border-box 추가*/
    box-sizing: border-box;
    border: #207600 solid 5px;
}

input[type="password"] {
    height: 100%;
    flex: 1;
    padding: 10px 16px;
    font-size: clamp(24px, 3vw, 36px);
    border-radius: 10px;
    /* border 공간을 항상 확보 */
    border: 5px solid transparent;
    box-sizing: border-box;
    min-width: 0;
}