<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMOK</title>
    <script>
        window.onerror = function(message, source, lineno, colno, error) {
            console.warn("무시된 에러:", message, "@", source + ":" + lineno);
            return true;  // true를 반환하면 에러가 전파되지 않고 나머지 스크립트가 계속 실행됨
        };
    </script>
    <link rel="stylesheet" href="board.css" />
</head>
<body>
<div class="container">
    <div class="board" id="board">
        <img id="board-image" src="../../../img/omok_board.png" alt="omok board" />
    </div>
    <div class="info">
        <div class="profile">
            profile
        </div>
        <div class="chat">
            chat
        </div>
    </div>
</div>

<script src="Websocket.js"></script>
</body>
</html>
